@import "tailwindcss";

@theme{
    --color-bg: #FFFFFF;
    --color-primary: #6B73FF;
    --color-secondary: rgba(139,92,246,.80);
    --color-card: rgba(139,92,246,.2);
}

:root{
    --bg-color: #F8FAFC;
    --primary-color: #6B73FF;
    --text-color: #6B73FF;
    --card-bg: #f5f5f5;
}

.dark {
    --bg-color: #121212;
    --text-color: #6B73FF;
    --card-bg: #1e1e1e;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.2s ease, color 0.2s ease;
}

